<!DOCTYPE html>
<html>
  <head>
    <title>PrivateEvents</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav>
      <%= link_to "Private Events", root_path, class: 'logo' %>
      <div class="nav-group">
        <%= link_to "Events", events_path %>
        <% if signed_in? %>
          <%= link_to "Profile", "/users/#{current_user.id}" %>
          <%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to "Authenticate", new_user_session_path %>
        <% end %>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
